In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import ast
import tabulate
import pyperclip

In [15]:
model_list = ['bert-base-cased', 'MathBert', 'roberta-base']

# Preds to Labels

In [16]:
model_name = model_list[2]
preds_data = pd.read_csv(f'Preds_second_ver/2024-07-29-16/Preds_{model_name}_top_k.csv')
preds_data

,id,Question,top_1_preds,top_2_preds,top_3_preds
0,566,Question: Jesse's room is 12 feet long and 8 f...,[8],[4 8],[9 4 8]
1,766,Question: A bus can transport 48 passengers. I...,[12],[ 4 12],[ 7 4 12]
2,860,Question: Kathy scored 360 in first quarter an...,[16],[15 16],[ 2 15 16]
3,74,Question: The clown blew up forty-seven balloo...,[3],[15 3],[ 0 15 3]
4,1794,Question: Amy's dad was taking everyone out to...,[18],[ 0 18],[ 5 0 18]
...,...,...,...,...,...
95,1313,Question: Sum of a number and 15 is 96. Find t...,[13],[ 3 13],[17 3 13]
96,296,Question: Jasmine and her mom went to the groc...,[3],[2 3],[15 2 3]
97,1007,Question: Amy has 67 balloons. 29 of them are ...,[3],[15 3],[ 1 15 3]
98,63,Question: Jose has 28 chickens and 18 ducks. H...,[3],[15 3],[ 0 15 3]
99,1340,Question: The length of the rectangular buildi...,[11],[ 8 11],[17 8 11]

In [17]:
type(preds_data['top_3_preds'][3])

str

In [29]:
gpus = [0]
GPU_list = ','.join(map(str, gpus))
print(GPU_list)

0

In [18]:
id_to_label = {0: '1.OA.A.1', 1: '2.NBT.B.5', 2: '2.NBT.B.7', 3: '2.OA.A.1', 4: '3.OA.A.3', 
               5: '3.OA.A.8', 6: '3.OA.D.8', 7: '4.MD.A.2', 8: '4.MD.A.3', 9: '4.NBT.B.5', 
               10: '4.NBT.B.6', 11: '4.OA.A.3', 12: '5.NBT.B.6', 13: '6.EE.B.6', 
               14: '6.NS.B.4', 15: '6.RP.A.1', 16: '6.RP.A.3', 17: '8.EE.C.8', 18: 'K.OA.A.2'}

In [19]:
id_to_label = {0: '1.OA.A.1', 1: '1.OA.A.2', 2: '2.NBT.B.5', 3: '2.NBT.B.6', 4: '2.NBT.B.7', 
            5: '2.OA.A.1', 6: '3.MD.D.8', 7: '3.NBT.A.2', 8: '3.NBT.A.3', 9: '3.NF.A.3', 
            10: '3.OA.A.3', 11: '3.OA.A.8', 12: '3.OA.A.9', 13: '3.OA.D.8', 14: '3.OA.D.9', 
            15: '4.MD.A.2', 16: '4.MD.A.3', 17: '4.NBT.B.4', 18: '4.NBT.B.5', 19: '4.NBT.B.6', 
            20: '4.OA.A.3', 21: '5.NBT.B.5', 22: '5.NBT.B.6', 23: '6.EE.B.6', 24: '6.EE.C.9', 
            25: '6.NS.B.4', 26: '6.RP.A.1', 27: '6.RP.A.3', 28: '6.SP.B.5', 29: '8.EE.C.8', 30: 'K.OA.A.2'}

In [20]:
# Function to convert string representations of lists to actual lists of integers
def str_to_list(s):
    if isinstance(s, list):
        return s
    s = s.strip('[]').strip()
    # Split by whitespace and filter out empty strings, then convert to integers
    return [int(i) for i in s.split() if i]

# Convert the string representations to actual lists
preds_data['top_1_preds'] = preds_data['top_1_preds'].apply(str_to_list)
preds_data['top_2_preds'] = preds_data['top_2_preds'].apply(str_to_list)
preds_data['top_3_preds'] = preds_data['top_3_preds'].apply(str_to_list)



# Function to map IDs to labels and join them with commas
def map_ids_to_labels(pred_ids):
    return ','.join([ ' '+id_to_label[i] for i in pred_ids])

# Create columns for top_1_labels, top_2_labels, and top_3_labels
preds_data['Top_1_labels'] = preds_data['top_1_preds'].apply(map_ids_to_labels)
preds_data['Top_2_labels'] = preds_data['top_2_preds'].apply(map_ids_to_labels)
preds_data['Top_3_labels'] = preds_data['top_3_preds'].apply(map_ids_to_labels)

preds_data

,id,Question,top_1_preds,top_2_preds,top_3_preds,Top_1_labels,Top_2_labels,Top_3_labels
0,566,Question: Jesse's room is 12 feet long and 8 f...,[8],"[4, 8]","[9, 4, 8]",3.NBT.A.3,"2.NBT.B.7, 3.NBT.A.3","3.NF.A.3, 2.NBT.B.7, 3.NBT.A.3"
1,766,Question: A bus can transport 48 passengers. I...,[12],"[4, 12]","[7, 4, 12]",3.OA.A.9,"2.NBT.B.7, 3.OA.A.9","3.NBT.A.2, 2.NBT.B.7, 3.OA.A.9"
2,860,Question: Kathy scored 360 in first quarter an...,[16],"[15, 16]","[2, 15, 16]",4.MD.A.3,"4.MD.A.2, 4.MD.A.3","2.NBT.B.5, 4.MD.A.2, 4.MD.A.3"
3,74,Question: The clown blew up forty-seven balloo...,[3],"[15, 3]","[0, 15, 3]",2.NBT.B.6,"4.MD.A.2, 2.NBT.B.6","1.OA.A.1, 4.MD.A.2, 2.NBT.B.6"
4,1794,Question: Amy's dad was taking everyone out to...,[18],"[0, 18]","[5, 0, 18]",4.NBT.B.5,"1.OA.A.1, 4.NBT.B.5","2.OA.A.1, 1.OA.A.1, 4.NBT.B.5"
...,...,...,...,...,...,...,...,...
95,1313,Question: Sum of a number and 15 is 96. Find t...,[13],"[3, 13]","[17, 3, 13]",3.OA.D.8,"2.NBT.B.6, 3.OA.D.8","4.NBT.B.4, 2.NBT.B.6, 3.OA.D.8"
96,296,Question: Jasmine and her mom went to the groc...,[3],"[2, 3]","[15, 2, 3]",2.NBT.B.6,"2.NBT.B.5, 2.NBT.B.6","4.MD.A.2, 2.NBT.B.5, 2.NBT.B.6"
97,1007,Question: Amy has 67 balloons. 29 of them are ...,[3],"[15, 3]","[1, 15, 3]",2.NBT.B.6,"4.MD.A.2, 2.NBT.B.6","1.OA.A.2, 4.MD.A.2, 2.NBT.B.6"
98,63,Question: Jose has 28 chickens and 18 ducks. H...,[3],"[15, 3]","[0, 15, 3]",2.NBT.B.6,"4.MD.A.2, 2.NBT.B.6","1.OA.A.1, 4.MD.A.2, 2.NBT.B.6"
99,1340,Question: The length of the rectangular buildi...,[11],"[8, 11]","[17, 8, 11]",3.OA.A.8,"3.NBT.A.3, 3.OA.A.8","4.NBT.B.4, 3.NBT.A.3, 3.OA.A.8"

In [21]:
# Save the updated DataFrame to a new CSV file
preds_data[['id','Question', 'Top_1_labels', 'Top_2_labels', 'Top_3_labels']].to_csv(f'Preds_second_ver/2024-07-29-16/Labels_{model_name}_top_k.csv', index=False)

# Labels Evaluation

In [22]:
model_name = model_list[0]
def check_agreement(row, column_name):
    labels_list = row[column_name].split(", ")
    labels_list = [kc.strip() for kc in labels_list]
    return row["Agreed KC"] in labels_list

def check_label_in(row):
    label_list = list(id_to_label.values())
    return row["Agreed KC"] in label_list

In [23]:
preds_data = pd.read_csv(f'Preds_second_ver/2024-08-02-10/Labels_{model_list[1]}_top_k.csv')
preds_data

,id,Question,top_1_preds,top_2_preds,top_3_preds,Top_1_labels,Top_2_labels,Top_3_labels
0,566,Question: Jesse's room is 12 feet long and 8 f...,[2],[10 2],[13 10 2],2.NBT.B.5,"3.OA.A.3, 2.NBT.B.5","3.OA.D.8, 3.OA.A.3, 2.NBT.B.5"
1,766,Question: A bus can transport 48 passengers. I...,[13],[ 9 13],[ 2 9 13],3.OA.D.8,"3.NF.A.3, 3.OA.D.8","2.NBT.B.5, 3.NF.A.3, 3.OA.D.8"
2,860,Question: Kathy scored 360 in first quarter an...,[16],[12 16],[15 12 16],4.MD.A.3,"3.OA.A.9, 4.MD.A.3","4.MD.A.2, 3.OA.A.9, 4.MD.A.3"
3,74,Question: The clown blew up forty-seven balloo...,[7],[15 7],[ 9 15 7],3.NBT.A.2,"4.MD.A.2, 3.NBT.A.2","3.NF.A.3, 4.MD.A.2, 3.NBT.A.2"
4,1794,Question: Amy's dad was taking everyone out to...,[14],[16 14],[ 6 16 14],3.OA.D.9,"4.MD.A.3, 3.OA.D.9","3.MD.D.8, 4.MD.A.3, 3.OA.D.9"
...,...,...,...,...,...,...,...,...
95,1313,Question: Sum of a number and 15 is 96. Find t...,[12],[13 12],[15 13 12],3.OA.A.9,"3.OA.D.8, 3.OA.A.9","4.MD.A.2, 3.OA.D.8, 3.OA.A.9"
96,296,Question: Jasmine and her mom went to the groc...,[12],[ 6 12],[17 6 12],3.OA.A.9,"3.MD.D.8, 3.OA.A.9","4.NBT.B.4, 3.MD.D.8, 3.OA.A.9"
97,1007,Question: Amy has 67 balloons. 29 of them are ...,[8],[18 8],[14 18 8],3.NBT.A.3,"4.NBT.B.5, 3.NBT.A.3","3.OA.D.9, 4.NBT.B.5, 3.NBT.A.3"
98,63,Question: Jose has 28 chickens and 18 ducks. H...,[7],[14 7],[ 5 14 7],3.NBT.A.2,"3.OA.D.9, 3.NBT.A.2","2.OA.A.1, 3.OA.D.9, 3.NBT.A.2"
99,1340,Question: The length of the rectangular buildi...,[3],[4 3],[11 4 3],2.NBT.B.6,"2.NBT.B.7, 2.NBT.B.6","3.OA.A.8, 2.NBT.B.7, 2.NBT.B.6"

In [24]:
results = []
for model_name in model_list:
    top_k_accuracies = []
    try:
        preds_data = pd.read_csv(f'Preds_second_ver/2024-08-02-10/Labels_{model_name}_top_k.csv')
        
    except FileNotFoundError:
        print(f"File not found for model {model_name}. Continuing to the next model...")
        continue  # Skip to the next model

    
    ground_truth_data = pd.read_csv('data_second_ver/ASDIv_Test_4.csv')
    ground_truth_data.rename(columns={'Question_ID': 'id'}, inplace=True)
    preds_data = pd.merge(preds_data, ground_truth_data[['id','Agreed KC']], on='id')
    
    eval_data = pd.DataFrame(columns=preds_data.columns)

    rows_to_append = []
    for index, row in preds_data.iterrows():
        kc = row['Agreed KC']
        kc_list = kc.split(',')
        kc_list = [kc.strip() for kc in kc_list]
        for kc in kc_list:
            new_row = row.copy()
            new_row['Agreed KC'] = kc
            rows_to_append.append(new_row)

    eval_data = pd.concat([eval_data, pd.DataFrame(rows_to_append)], ignore_index=True)
    
    eval_data["Agreed KC in Labels"] = eval_data.apply(check_label_in, axis=1)
    accuracy_in_labels = eval_data["Agreed KC in Labels"].sum()/len(eval_data)
    
    for k in range(1, 4):
        eval_data[f'Top_{k}_agreement'] = eval_data.apply(check_agreement, column_name=f'Top_{k}_labels', axis=1)
        accuracy = eval_data[f'Top_{k}_agreement'].mean()
        actual_accuracy = accuracy/accuracy_in_labels
        
        top_k_accuracies.append(f'{accuracy:.3f} ({actual_accuracy:.3f})')
        

    
    results.append([
    f'{model_name}', 
    *top_k_accuracies,
    f'{accuracy_in_labels:.3f}' ])


headers = ["Model"]
for k in range(1, 4):
    headers.append(f'Top {k} Accuracy')
headers.append('Rate of Agreed KCs in Labels')

tabels = tabulate.tabulate(results, headers= headers, tablefmt='pipe')
pyperclip.copy(tabels)
print(tabels)

| Model           | Top 1 Accuracy   | Top 2 Accuracy   | Top 3 Accuracy   |   Rate of Agreed KCs in Labels |
|:----------------|:-----------------|:-----------------|:-----------------|-------------------------------:|
| bert-base-cased | 0.055 (0.057)    | 0.100 (0.105)    | 0.155 (0.162)    |                          0.955 |
| MathBert        | 0.045 (0.048)    | 0.073 (0.076)    | 0.100 (0.105)    |                          0.955 |
| roberta-base    | 0.018 (0.019)    | 0.064 (0.067)    | 0.118 (0.124)    |                          0.955 |